<div class="jumbotron">
  <div class="container">
    <h1>Hunters MicroPosts</h1>
    <p>Welcome to Hunters MicroPosts.</p>
    <p><%= link_to "Sign up now!", '#', class: "btn btn-primary btn-lg", role: "button" %></p>
  </div>
</div>